<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3307/foodApp</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>

		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>

		<mapping class="com.foodapp.spring.pojo.Customer" />
			<mapping class="com.foodapp.spring.pojo.Person" />
						<mapping class="com.foodapp.spring.pojo.UserAccount" />
							<mapping class="com.foodapp.spring.pojo.Chef" />
							<mapping class="com.foodapp.spring.pojo.Admin" /> 
													<mapping class="com.foodapp.spring.pojo.Recipe" />
 														<mapping class="com.foodapp.spring.pojo.Cuisine" />    
							
		<mapping class="com.foodapp.spring.pojo.Order" />  
				<mapping class="com.foodapp.spring.pojo.OrderDetails" />  
		
	</session-factory>
</hibernate-configuration>